body{
	background: #E2F8FE;
}
.main, .header{
	text-align: center;
	margin: 0px auto;
}
.header{
	font-size: 28px;
	letter-spacing: 5px;
}
.main{
	font-size: 14px;
	position: relative;
	padding: 15px 6px;
	width: 400px;
	background: #fff;
	box-shadow: 0 10px 10px rgba(161,231,254, .8);
	border-radius: 2%;
}
#input{
	font-size: 14px;
	text-align: center;
	padding: 10px; 
	width: 88%;
	border: none;
}
#list{
	font-size: 16px;
	list-style-type: none;
	text-align: left;
	
}
ul{ 
	padding: 4px 20px; 
}
ul li{
	margin: 12px 0;
	cursor: pointer;
	position: relative;
	padding: 12px 10px 12px 40px;
	background:  #E2F8FE;
	
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
ul li.completed{
	background: #dcdcdc;
	
}
ul li.completed::before {
    content: '';
    position: absolute;
    border-color: #000;
    border-style: solid;
    border-width: 0 1px 1px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}
.close{
	position: absolute;
	right: 10%;
	top: 30%; 
}